@font-face {
  @include includeFont(700, $first-font, "Roboto-Bold");
}

@font-face {
  @include includeFont(400, $second-font, "Poppins-Regular");
}

@font-face {
  @include includeFont(500, $second-font, "Poppins-Medium");
}

@font-face {
  @include includeFont(700, $second-font, "Poppins-Bold");
}
