.title {
  display: inline-block;
  font-weight: 700;
  font-size: 70px;
  color: #202123;
  letter-spacing: 0.005em;

  &--texture {
    color: rgba(#202123, 0.77);
    background-image: url("../images/mask.svg");
    background-size: cover;
    background-clip: text;
  }
}

@media (min-width: $tablet) {
  .title {
    font-size: 150px;
  }
}
