.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 40px 16px;
  background: linear-gradient(to bottom left, $accent 35%, #e9e9e9 30%);
}

.banner__text {
  max-width: 370px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  font-family: $second-font;
  text-align: center;
  color: #8f8f8f;
}

.banner__button {
  left: 50%;
  align-self: flex-start;
  margin-bottom: 50px;
  transform: translateX(-50%);
}

.banner__title {
  margin-bottom: 30px;
  text-align: center;
}

.banner__img {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .banner__img {
    width: 526px;
  }
}

@media (min-width: $desktop) {
  .banner {
    @include page-wrapper;
    display: block;
    padding-top: 190px;
    background: linear-gradient(253deg, $accent 49%, #e9e9e9 30%);
  }

  .banner__img {
    position: absolute;
    right: 29%;
    bottom: 0%;
    width: 47%;
    max-width: 759px;
  }

  .banner__button {
    left: 0;
    display: flex;
    width: max-content;
    margin-left: 74px;
    transform: unset;
  }


  .banner__title {
    margin-bottom: -5px;
    text-align: left;
  }

  .banner__text {
    margin: 0;
    text-align: left;
  }
}

@media (min-width: 1370px) {
  .banner__text {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 685px);
    max-width: 330px;
    height: 330px;
    transform: rotate(-90deg);
  }
}

@media (min-width: 1600px) {
  .banner__img {
    right: 23%;
    width: 759px;
  }
}

@media (min-width: 1700px) {
  .banner__img {
    right: 29%;
  }
}
