.card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 232px;
  height: 125px;
  padding: 18px;
  padding-top: 9px;
  background-color: #62a7ff;
  background-image: url("../images/visa-bg.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 13px 30px 0 rgba(72, 117, 174, 0.25);
}

.card__type {
  width: 41px;
  height: 20px;
  background-size: contain;

  &--visa {
    background-image: url("../images/visa.png");
  }
}

.card__number {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;

  span {
    display: block;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

.card__bottom {
  display: flex;
  font-size: 13px;
  font-family: $second-font;
  color: #ffffff;
}

.card__name {
  margin-left: 75px;
  text-transform: uppercase;
}
