.button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 58px;
  padding: 0 24px;
  font-weight: 700;
  font-size: 25px;
  font-family: $second-font;
  color: #323237;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  background-color: $accent;
  transition: background-color 0.3s;

  &::before {
    @include pseudo;
    position: absolute;
    bottom: -10px;
    left: -10px;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    border: 2px solid $accent;
    transition: all 0.3s;
  }

  &:hover {
    &::before {
      bottom: -2px;
      left: -2px;
    }
  }

  &:active {
    background-color: transparent;
  }
}
