.dashboard {
  padding: 30px 16px;
  font-family: $second-font;
  background-color: #fcfcfc;
}

.dashboard__info {
  margin-bottom: 20px;
  padding: 20px 25px 30px 25px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 120px 0 rgba(31, 32, 41, 0.1);
}

.dashboard__statistic {
  padding: 20px 25px 30px 25px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 120px 0 rgba(31, 32, 41, 0.1);
}

.dashboard__title {
  font-weight: 500;
  font-size: 16px;
  color: #404447;
}

.dashboard__card {
  margin-top: 28px;
  margin-bottom: 25px;
}

.dashboard__list {
  @include list-reset;
  padding-top: 25px;
  border-top: 1px solid #e8dddc;
}

.dashboard__item {
  font-weight: 500;
  font-size: 13px;
  color: #404447;

  span {
    display: inline-block;
    width: 110px;
    margin-right: 10px;
    color: #b1b5b8;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.dashboard__top {
  display: flex;
  align-items: center;

  .custom-select-container {
    margin-left: 28px;
  }

  .dashboard__title {
    margin-right: 20px;
  }
}


@media (min-width: 940px) {
  .dashboard {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 283px 1fr;
    padding-top: 20px;
    padding-right: calc(50% - 450px);
    padding-bottom: 20px;
    padding-left: calc(50% - 450px);
  }

  .dashboard__top {
    .dashboard__title {
      margin-right: auto;
    }
  }

  .dashboard__info {
    margin-bottom: 0;
  }
}
