.custom-select-container {
  position: relative;
  box-sizing: border-box;
}

.custom-select-container * {
  box-sizing: border-box;
}

.custom-select-container.is-disabled {
  opacity: 0.333;
}

.custom-select-opener {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #404447;

  &::after {
    content: "";
    display: block;
    width: 14px;
    height: 8px;
    margin-left: 2px;
    background-image: url("../images/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.custom-select-container select {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.custom-select-panel {
  position: absolute;
  top: 100%;
  z-index: 1;
  max-height: 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: max-height 0.5s ease-out, overflow-y 0.1s 0.5s;
  //width: 100%;
}

.custom-select-container.is-open .custom-select-panel {
  max-height: 10.7em;
  overflow-y: auto;
  box-shadow: 0 0 120px 0 rgba(31, 32, 41, 0.1);
}

.custom-select-option {
  padding: 0.5em;
}

.custom-select-option.has-focus {
  background-color: lightblue;
}

.custom-select-option.is-selected {
  background-color: lightblue;
}

.custom-select-optgroup > .custom-select-option {
  padding-left: 2em;
}

.custom-select-optgroup::before {
  content: attr(data-label);
  display: block;
  padding: 0.5em;
  color: #888888;
}
